# Arquivo de definição de proprietários de código (CODEOWNERS)
# Documentação: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# A equipe inteira é responsável pelo repositório como um todo
* @caioxlw

# Modificações críticas de infraestrutura, conteinerização e pipelines exigem revisão de infra:
Dockerfile* @caioxlw
docker-compose*.yml @caioxlw
docker-compose*.yaml @caioxlw
.github/workflows/ @caioxlw
